* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root{
    --blue-medium: #250349;
    --blue-dark: #140227;
    --pink: #fb24d2;
    --yellow-dark: #eaa92d;
}

body{
    background-color: var(--blue-dark);
}

/*logo da pagina*/
header{
    width: 100%;
    height: 6em;
    background: linear-gradient(var(--blue-medium), var(--blue-dark));
    position: sticky;
    top: 0;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2);
}

.logo{
    text-align: left;
    position: absolute;
}

.logo #img{
    width: 100px;
    height: auto;
}

.logo ul{
    list-style: none;
    display: flex;
}

.logo ul a {
    text-decoration: none;
}

.logo ul a h1{
    color: var(--pink);
    padding-top: 50px;
    width: 100%;
    font-family: "Silkscreen", cursive;
    font-size: 1.5rem;
}

/*Menu Superior*/
.menuSuperior{
    position: absolute;
    right: 20px;
    bottom: 0px;
}

.menuSuperior ul li{
    float: left;
    margin: 0.4em;
    list-style: none;
}

/*Pop-up*/
.openPopUp{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(21, 4, 68, 0.8);
    z-index: 9999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in-out;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    display: none;
    float: left;
}

.openPopUp:target{
    display: block;
    opacity: 1;
    pointer-events: auto;
}

.openPopUp div{
    width: 500px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 10px;
    background-color: var(--pink);
}

.openPopUp p {
    margin-top: 5%;
    margin-bottom: 5%;
}

.openPopUp h3{
    background: none;
    border: 0;
    box-shadow: none;
}

.close{
    background-color: white;
    color: var(--yellow-dark);
    line-height: 25px;
    position: absolute;
    right: 5px;
    text-align: center;
    top: 3px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-boder-radius: 12px;
    border-radius: 12px;
}

.close:hover{
    background-color: var(--blue-medium);
}
/*Menu Lateral*/

main{
    display:flex;
    flex-direction: column;
}

.menuLateral{
    position: fixed;
    background: linear-gradient(var(--blue-dark), var(--blue-medium));
    padding: 1em;
    margin-top: 1px;
    height: 100%;
    width: 25em;
    box-shadow: inset 0px 2px 4px 2px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h3{
    text-align: center;
    padding: 0.3em;
    background-color: var(--yellow-dark);
    border: 1px solid var(--yellow-dark);
    font-weight: 300;
    box-shadow: inset 0px 2px 4px 2px rgba(0, 0, 0, 0.2);
}

span{
    font-size: small;
}

.menuLateral p{
    color: white;
    font-size: small;
    text-align: center;
    margin-bottom: 0.3em;
}

.menuLateral .genres .inputs{
    background-color: none;
    height: 8em;
    overflow:auto;
    overflow-x: hidden;
    border: 1px solid var(--yellow-dark);
    padding: 1%;
    text-align: left;
}

.menuLateral .genres .inputs input{
    text-align: left;
    top: 0;
    cursor: pointer;
}

.menuLateral .genres .inputs label{
    text-transform: capitalize;
    color: white;
    font-weight: 100;
    font-size: medium;
    cursor: pointer;
}

.menuLateral .genres .inputs span{
    color: grey;
    text-transform: capitalize;
}

.menuLateral .capacity{
    margin-top: 0.8rem;
    background-color: none;
    height: 6em;
    border: 1px solid var(--yellow-dark);
}

#ram{
    border: none;
    width: 50%;
    margin: 1em;
    height: 2rem;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    text-align: center;
}

#ram :active{
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.2);
    color: #250349;
}

.menuLateral .capacity label{
    color: white;
    margin-left: -2%;
}

.menuLateral .platform{
    margin-top: 0.8rem;
}

.menuLateral .platform .radios{
    border: 1px solid var(--yellow-dark);
    height: 1.5em;
    text-align: center;
    padding: 1%;
}

.menuLateral .platform .radios label{
    text-transform: capitalize;
    color: white;
    font-weight: 100;
    font-size: medium;
    margin: 3px;
}

/*Botões*/

button{
    border: none;
    outline: none;
    border-radius: 0.3rem;
    width: 30%;
    padding: 1em;
    margin-top: 0.8rem;

    font-weight: 550;
    font-size: 1rem;

    cursor: pointer;

    transition: 0.3s ease-in-out;
}

#btnSubmit{
    background: var(--pink);
    color: black;
}

#btnSubmit:hover{
    color: white;
    background: var(--pink);
}

#btnCancel{
    background: white;
    color: var(--pink);
}

#btnCancel:hover{
    color: black;
    background: white;
}

/*Resultados da filtragem*/
#result{
    font-size: larger;
    width: auto;
    margin-left: 25em;
    padding: 1%;
    margin-top: 1px;
    text-align: center;
}

#result h2{  
    color: white;
    font-weight: 300;
}

#result img{
    width: 360px;
    margin-top: 1em;
}

#result p{
    margin-top: 0.7em;
    color: var(--yellow-dark);
    font-size: large;
}


#result p a{
    color: white;
    font-size: small;
    cursor: pointer;
}

#result p a:hover{
    opacity: 0.7;
}

footer{
    text-align: center;
    box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
    background: var(--blue-medium);
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p{
    font-size: 0.8rem;
    font-weight: 300;
    color: var(--pink);
}